<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to 'Show', '#' %></li>
      <li><%= link_to 'Edit', edit_workout_path(@workout) %></li>
      <li><%= link_to 'All', workouts_path %></li>
    </ul>
    <div class="page-header">
      <h1>Show</h1>
    </div>
        <p>
      <strong>Subcycle:</strong>
      <%= @workout.subcycle.number %>
    </p>

        <p>
      <strong>Workout date:</strong>
      <%= @workout.workout_date %>
    </p>

        <p>
      <strong>Notes:</strong>
      <%= @workout.notes %>
    </p>

	<table class="table">
		<tr>
			<th>Exercise</th>
			<th>Weight</th>
			<th>Reps</th>
		</tr>
		<% @workout.workout_sets.each do |set| %>
			<%= render 'workout_sets/set', set: set %>



		<% end %>
	</table>
      </div>
</div>

