<div class="container">
  <div class="content">
	<%= form_for(@workout) do |f| %>
	  <% if @workout.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

		  <ul>
		  <% @workout.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="table-responsive">
	  <table class="table">
	  	<thead>
			<tr>
				<th >Exercise</th>
				<th style="width:10%">Reps</th>
				<th>Weight</th>
			</tr>
	  	</thead>
		<tbody>
		<%@workout.workout_sets.each do |set| %>
			<%= f.fields_for :workout_sets, set do |s| %>
			<tr>
				<td><%= set.exercise.name.humanize %></td>
				<% if set.is_plus_set? %>
					<td><%= s.text_field :peformed_reps, class: 'form_control', placeholder: "#{set.intended_reps}+" %></td>
				<% else %>
					<td><%= s.text_field :peformed_reps, value: set.intended_reps, class: 'form_control' %></td>

				<% end -%>
				<td><%= set.weight %></td>
			</tr>
			<% end -%>
		<% end -%>
		</tbody>
	  </table></div>
	  <div class="form-group">
		<%= f.text_area :notes, class: 'form-control', placeholder: 'Notes' %>
	  </div>
	  <div class="actions">
		<%= f.submit class: 'btn btn-primary' %>
	  </div>
	<% end %>

  </div>
</div>
