<div class="container">
  <div class="content">
	<%= form_for(@workout, url: doworkout_path) do |f| %>
	  <% if @workout.errors.any? %>
		<div id="error_explanation">
		  <h2><%= pluralize(@workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

		  <ul>
		  <% @workout.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
		  <% end %>
		  </ul>
		</div>
	  <% end %>

	  <div class="table-responsive">
	  <table class="table">
	  	<thead>
			<tr>
				<th >Exercise</th>
				<th style="width:10%">Reps</th>
				<th>Weight</th>
			</tr>
	  	</thead>
		<tbody id="sets">
		<%@workout.workout_sets.order(:id).eager_load(:exercise_weight).each do |set| %>
			<%= f.fields_for :workout_sets, set do |s| %>
			<tr>
				<td><%= set.display_name %></td>
				<% if set.plus_set? %>
					<td><%= s.text_field :performed_reps, class: 'form_control', placeholder: "#{set.intended_reps}+" %></td>
				<% else %>
					<td><%= s.text_field :performed_reps, value: set.intended_reps, class: 'form_control' %></td>
				<% end -%>
				<td><%= set.exercise_weight.value if set.exercise_weight %></td>
			</tr>
			<% end -%>
		<% end -%>
		</tbody>
	  </table></div>
	  <button class="quick-add">+</button>
	  <div class="form-group">
		<%= f.text_area :notes, class: 'form-control', placeholder: 'Notes' %>
	  </div>
	  <div class="actions">
		<%= f.submit class: 'btn btn-primary' %>
	  </div>

	  <div class = "hidden">
		  <table id="new-workout-set-template">
			<tr class="quick-add">
				<td>
					<%= select 'new_workout_set[new_set_id]', :exercise_id,
						Exercise.all.collect { |e| [ e.display_name, e.id ] }, {},
						{class: 'form-control'} %>
				</td>
				<td>
					<%= text_field "new_workout_set[new_set_id]", :performed_reps, class: 'form-control' %>
				</td>
				<td>
					<%= text_field "new_workout_set[new_set_id]", :weight, class: 'form-control' %>
				</td>
			</tr>
		</table>
	  </div>
	<% end %>
  </div>
</div>
