<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to 'Show', '#' %></li>
      <li><%= link_to 'Edit', edit_program_path(@program) %></li>
      <li><%= link_to 'All', programs_path %></li>
    </ul>

	<div class="row">
		<div class="page-header col-md-3">
			<h1>
				<%= @program.name %> <small><%= @program.user.name %></small>
			</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-3">
		  <%= current_cycle(@program) %>
		</div>
	</div>
	<div class="row">
			<table class="table">
			  <thead>
				<tr>
					  <th>Number</th>
					  <th>Finished?</th>
					  <th>Actions</th>
				</tr>
			  </thead>

			  <tbody>
				<% @program.cycles.each do |cycle| %>
				  <tr>
						<td><%= cycle.cycle_number %></td>
						<td><%= cycle.finished? ? "\u2713" : "" %></td>
						<td><%= link_to '', cycle, class: 'glyphicon glyphicon-eye-open' %>
						<%= link_to '', cycle_path(cycle), class: 'glyphicon glyphicon-pencil' %>
						<%= link_to '', cycle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %>
					</td>
				  </tr>
				<% end %>
			  </tbody>
			</table>
		</div>
      </div>
</div>

