<%= form_for(@exercise_weight) do |f| %>
  <% if @exercise_weight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise_weight.errors.count, "error") %> prohibited this exercise weight from being saved:</h2>

      <ul>
      <% @exercise_weight.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :value %><br>
    <%= f.number_field :value, class: 'form-control', placeholder: 'value' %>
  </div>
  <div class="form-group">
    <%= f.label :unit %><br>
    <%= f.text_field :unit, class: 'form-control', placeholder: 'unit' %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
