<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to 'Show', '#' %></li>
      <li><%= link_to 'Edit', edit_exercise_weight_path(@exercise_weight) %></li>
      <li><%= link_to 'All', exercise_weights_path %></li>
    </ul>
    <div class="page-header">
      <h1>Show</h1>
    </div>
        <p>
      <strong>Value:</strong>
      <%= @exercise_weight.value %>
    </p>

        <p>
      <strong>Unit:</strong>
      <%= @exercise_weight.unit %>
    </p>

      </div>
</div>

