<%= form_for([@program, @cycle]) do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.fields_for :weight, @start_weight do |weight| %>
  	<%= weight.label :value, "Starting Weight" %>
  	<%= weight.text_field :value, class: 'form-control' %>
  <% end %>

  <%= f.label :cycle_number, "Cycle Number" %>
  <%= f.text_field :cycle_number, class: 'form-control' %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
