<%= form_for([@program, @cycle], html: {class: 'form-horizontal'} ) do |f| %>
  <% if @cycle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cycle.errors.count, "error") %> prohibited this cycle from being saved:</h2>

      <ul>
      <% @cycle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
	<% end %>

	<div class="form-group">
	  <%= f.fields_for :starting_weight, @cycle.starting_weight do |weight| %>
		<%= weight.label :value, "Starting Weight", class: 'col-sm-2 control-label'%>
		<div class="col-sm-10">
			<%= weight.text_field :value, class: 'form-control' %>
		</div>
	  <% end %>
	</div>

	<div class="form-group">
		  <%= f.label :cycle_number, "Cycle Number", class: 'col-sm-2 control-label' %>
		  <div class="col-sm-10">
			  <%= f.text_field :cycle_number, class: 'form-control' %>
		  </div>
	</div>

  <% if @cycle.new_record? && @cycle.program.program_type == 'five_three_one' %>
	  <%= render 'five_three_one', form: f %>
  <% end %>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
