<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to 'All', cycles_path %></li>
    </ul>
    <div class="page-header">
      <h1>Listing <small>cycles</small></h1>
    </div>

    <table class="table">
      <thead>
        <tr>
              <th>Starting weight</th>
              <th>Program</th>
              <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @cycles.each do |cycle| %>
          <tr>
                <td><%= "#{ cycle.starting_weight.value }  #{ cycle.starting_weight.unit }"%></td>
				<td><%= "#{ cycle.program.name } #{cycle.cycle_number}" %></td>
                <td><%= link_to '', cycle, class: 'glyphicon glyphicon-eye-open' %>
                <%= link_to '', edit_cycle_path(cycle), class: 'glyphicon glyphicon-pencil' %>
                <%= link_to '', cycle, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


