<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li class="active"><%= link_to 'Show', '#' %></li>
      <li><%= link_to 'Edit', edit_program_cycle_path(@cycle.program, @cycle) %></li>
    </ul>
    <div class="page-header">
		<h1>
			Cycle <%= @cycle.cycle_number %>
		</h1>
    </div>
	<div class="row">
		<div class="col-md-12">
			  <strong>Starting weight:</strong>
			  <%= @cycle.starting_weight.value if @cycle.starting_weight %>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
		  <strong>Program:</strong>
		  <%= link_to @cycle.program.name, program_path(@cycle.program) %>
		</div>

		<% unless @cycle.cycle_weights.empty? %>
			<div class="col-md-6">
				<table class="table">
					<tr>
						<th>Exercise</th>
						<th>Weight</th>
					</tr>
				<% @cycle.weights.each do |weight| %>
					<tr>
						<td><%= weight.name.humanize %></td>
						<td><%= weight.value %></td>
					</tr>
				<% end -%>

				</table>
			</div>
		<% end %>
	</div>


	<h3>Subcycles</h3>
		<table>
			<tr>
				<th width="40px"></th>
				<th>Workout link</th>
			</tr>
	<% @cycle.subcycles.each do |subcycle|%>
		<tr>
			<td colspan=2>
				Subcycle <%= subcycle.number + 1 %>
			</td>
		</tr>
			<% subcycle.workouts.order(id: :asc).each.with_index do |workout, i| %>
				<tr>
					<td></td>
					<td><%= link_to "Workout #{ i + 1} Link", workout_path(workout)  %></td>
				</tr>
			<% end %>
	<% end %>
		</table>
      </div>
</div>

