<tr>
	<td><%= set.exercise_weight.name.humanize %> </td>
	<td><%= set.exercise_weight.value if set.exercise_weight %></td>
	<td><%= set.intended_reps %>
	<% if set.rep_difference %>
		<% if set.rep_difference > 0 %>
			<span class="positive-reps">+ <%= set.rep_difference %></span>
		<% elsif set.rep_difference < 0 %>
			<span class="negative-reps"><%= set.rep_difference %></span>
		<% end %>
	<% end %>
</td>
</tr>
