<div class="container">
  <div class="content">
    <ul class="nav nav-tabs nav-justified">
      <li><%= link_to 'New Exercise', new_exercise_path %></li>
      <li class="active"><%= link_to 'All', exercises_path %></li>
    </ul>
    <div class="page-header">
      <h1>Listing <small>exercises</small></h1>
    </div>

    <table class="table">
      <thead>
        <tr>
              <th>Name</th>
              <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @exercises.each do |exercise| %>
          <tr>
                <td><%= exercise.name %></td>
                <td><%= link_to '', exercise, class: 'glyphicon glyphicon-eye-open' %>
                <%= link_to '', edit_exercise_path(exercise), class: 'glyphicon glyphicon-pencil' %>
                <%= link_to '', exercise, method: :delete, data: { confirm: 'Are you sure?' }, class: 'glyphicon glyphicon-trash' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


